$font-poppins: 'Poppins', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-rubik: 'Rubik', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$body-bg: #f2f4fb;
$bg-sidebar: white;
//$bg-sidebar: rgba(38, 46, 59, 1);
$bg-content-sidebar: rgba(55, 64, 78, 1);

//$text-color5: #b4b4b4;
//$text-color2: #646567;
//$text-color6: #3d3d3d;
//$text-color1: #364658;

$color-black: #000000;
$color-black-extra-light: #b4b4b4; // text-color5
$color-black-light: #646567; // text-color2
$color-black-extra-dark: #3d3d3d; // text-color6
$color-black-dark: #364658; // text-color1

$body-color: $color-black;

$color-black-1: #364658;
$color-black-2: #646567;

$color-grey-1: #dedede;
$color-grey-2: #b2b2b2;
$color-grey-3: #c4c4c4;

$border-color1: #dedede;
$border-color2: #b2b2b2;
$border-color3: #c4c4c4;

$text-color1: #364658;
$text-color2: #646567;
$text-color5: #b4b4b4;
$text-color6: #3d3d3d;

$link-color1: #6fa3fc;
$link-color2: #5195c7;

$color-red: #eb312a;
$color-darkBlue: #2c3e50;
$color-red2: #e74c3c;
$color-green: #00cc9a;
$color-green2: #27ae60;
$color-orange: #ffc35a;
$color-blue: #0b74ec;
$color-blue2: #0f70e0;
$color-yellow: yellow;
$color-purple: #7540ee;

$border-line-color: #e1e6ed;
