.selectable {
  display: flex;
  flex-direction: column;
  .unselect {
    border: 1px solid #e3e4e7;
    border-radius: 8px;
    overflow: hidden;
    flex: 40%;
  }
  .select {
    border: 1px solid #e3e4e7;
    border-radius: 8px;
    overflow: hidden;
    flex: 40%;
  }
    .icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin:0px auto;
      text-align: center !important;
      .icon {
        position: relative;
        width: 100%;
        max-width: 60px;
        height: 40px;
        background-color: #f2f3f7;
        line-height: 40px;
        text-align: center;
        border-radius: 8px;
        margin: 8px auto;
        cursor: pointer;
        border: 1px solid #e3e4e7;
      }
    }
  .selected {
    width: 100%;
    background-color: #f2f3f7;
  }
  .not-selected {
    width: 100%;
    background-color: #fff;
    &:hover{
      background-color: #f2f3f7;
    }
  }
}

@media (max-width: 800px) {
  .selectable {
    flex-direction: row;
  }
}
