@kocsistem:registry=https://pkgs.dev.azure.com/oneframe/_packaging/oneframe-web_feed/npm/registry/ 
                        
@kocsistem:always-auth=true

; begin auth token
//pkgs.dev.azure.com/oneframe/_packaging/oneframe-web_feed/npm/registry/:username=oneframe
//pkgs.dev.azure.com/oneframe/_packaging/oneframe-web_feed/npm/registry/:_password=a2xpenBqYjZyZWxodHNoZnV2M24ydXFnbDNqNXpqNml6dDVuZ2ZkMjQyNWJqcm56dnZscQ==
//pkgs.dev.azure.com/oneframe/_packaging/oneframe-web_feed/npm/registry/:email=can.akgul@kocsistem.com.tr
//pkgs.dev.azure.com/oneframe/_packaging/oneframe-web_feed/npm/:username=oneframe
//pkgs.dev.azure.com/oneframe/_packaging/oneframe-web_feed/npm/:_password=a2xpenBqYjZyZWxodHNoZnV2M24ydXFnbDNqNXpqNml6dDVuZ2ZkMjQyNWJqcm56dnZscQ==
//pkgs.dev.azure.com/oneframe/_packaging/oneframe-web_feed/npm/:email=can.akgul@kocsistem.com.tr
; end auth token
